<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>chatforyou</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
  <session-timeout>20</session-timeout>
  </session-config>
  <filter>
    <filter-name>AuthFilter</filter-name>
    <filter-class>info.chatforyou.main.AuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>/chatroom.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>Control</display-name>
    <servlet-name>Control</servlet-name>
    <servlet-class>info.chatforyou.main.Control</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Control</servlet-name>
    <url-pattern>/control</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>chatroom.jsp</display-name>
    <servlet-name>chatroom.jsp</servlet-name>
    <servlet-class>/chatroom.jsp</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>AuthFilter</display-name>
    <servlet-name>AuthFilter</servlet-name>
    <servlet-class>info.chatforyou.main.AuthFilter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthFilter</servlet-name>
    <url-pattern>/AuthFilter</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>info.chatforyou.main.CheckSession</listener-class>
  </listener>
</web-app>